body {
	text-align: center;
	margin-top: 50px;
	background-color: #E32626;
}

#color {
	color: #FFF;
	font-family: sans-serif;
	font-size: 32px;
	font-weight: 300;
}

#header {
	height: 40%;
	border: 2px dashed;
	border-color: #fff;
	max-width: 90%
}

#count {
	color: #FFF;
	font-family: sans-serif;
	font-size: 64px;
}

button,
button:focus {
	touch-action: manipulation;
}